.input:focus {
    outline: none;
}

.input {
    opacity: 0.5;
    border: 1px solid grey;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    color: red;
}

.superInput {

}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {

}

.error {
}
