button {
    color: #fff;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    transition: all 0.5s;
}

.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.default {
    border-radius: 3px;
    padding: 5px 24px;
    width: 132px;
    background: #06c;
}

.default:hover {
    background: #0080ff;
}

.default:active {
    background: #06c;
}

.red {
    border-radius: 3px;
    padding: 5px 24px;
    width: 129px;
    background: #cc1439;
}

.red:hover {
    background: #ff1a47;
}

.red:active {
    background: #b21232;
}

.disabled {
    border-radius: 3px;
    padding: 5px 24px;
    width: 133px;
    background: #004d99;
    color: #002e5c;
    opacity: 0.5;
}

.secondary {
    border: 1px solid #06c;
    border-radius: 3px;
    padding: 5px 24px;
    width: 176px;
    color: #06c;
    background: none;
}

.secondary:hover {
    background: #e5f0fa;
}

.secondary:active {
    background: #c9e5ff;
}

